<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory
        name="java:hibernate/SessionFactory">

        <!-- properties -->
        <property name="connection.datasource">java:/comp/env/jdbc/MyDB</property>
        <property name="show_sql">false</property>
        <property name="connection.provider_class">org.hibernate.c3p0.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.max_size">2</property>
        <property name="hibernate.c3p0.min_size">2</property>
        <property name="hibernate.c3p0.timeout">5000</property>
        <property name="hibernate.c3p0.max_statements">100</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/jbilling</property>
        <property name="hibernate.current_session_context_class">jta</property>
        <property name="jta.UserTransaction">java:comp/UserTransaction</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
        <!-- mapping files -->
        <mapping class="com.sapienter.jbilling.server.util.db.PreferenceDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.PreferenceTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.LanguageDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.CurrencyDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.CurrencyExchangeDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.InternationalDescriptionDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.MenuOptionDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.audit.db.EventLogModuleDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.audit.db.EventLogMessageDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.audit.db.EventLogDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.OptionDTO"/>
        <mapping class="com.sapienter.jbilling.server.notification.MessageDTO"/>
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageArchLineDTO"/>
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageDTO"/>
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageSectionDTO"/>
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageArchDTO"/>
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageLineDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactFieldTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactMapDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactFieldDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.RoleDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.PermissionDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.PermissionUserDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.PermissionTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.CustomerDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.SubscriberStatusDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.CompanyDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.AchDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.UserDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.CreditCardDTO"/>
        <mapping class="com.sapienter.jbilling.server.user.db.UserStatusDTO"/>
        <mapping class="com.sapienter.jbilling.server.order.db.OrderDTO"/>
        <mapping class="com.sapienter.jbilling.server.order.db.OrderProcessDTO"/>
        <mapping class="com.sapienter.jbilling.server.order.db.OrderLineDTO"/>
        <mapping class="com.sapienter.jbilling.server.order.db.OrderLineTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.order.db.OrderPeriodDTO"/>
        <mapping class="com.sapienter.jbilling.server.order.db.OrderStatusDTO"/>
        <mapping class="com.sapienter.jbilling.server.order.db.OrderBillingTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunStatusDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunTotalDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.BillingProcessDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunUserDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunTotalPmDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.AgeingEntityStepDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.BillingProcessConfigurationDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.PaperInvoiceBatchDTO"/>
        <mapping class="com.sapienter.jbilling.server.process.db.PeriodUnitDTO"/>
        <mapping class="com.sapienter.jbilling.server.list.PagedListDTO"/>
        <mapping class="com.sapienter.jbilling.server.list.ListDTO"/>
        <mapping class="com.sapienter.jbilling.server.list.db.ListDTO"/>
        <mapping class="com.sapienter.jbilling.server.list.db.ListFieldEntityDTO"/>
        <mapping class="com.sapienter.jbilling.server.list.db.ListFieldDTO"/>
        <mapping class="com.sapienter.jbilling.server.list.db.ListEntityDTO"/>
        <mapping class="com.sapienter.jbilling.server.item.db.ItemDTO"/>
        <mapping class="com.sapienter.jbilling.server.item.db.ItemTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.item.db.ItemPriceDTO"/>
        <mapping class="com.sapienter.jbilling.server.invoice.NewInvoiceDTO"/>
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceDTO"/>
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceLineTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceDeliveryMethodDTO"/>
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceStatusDTO"/>
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceLineDTO"/>
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskTypeCategoryDTO"/>
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskDTO"/>
        <mapping class="com.sapienter.jbilling.server.pluggableTask.AuthorizeNetResponseDTO"/>
        <mapping class="com.sapienter.jbilling.server.provisioning.db.ProvisioningStatusDTO"/>
        <mapping class="com.sapienter.jbilling.server.entity.InvoiceLineDTO"/>
        <mapping class="com.sapienter.jbilling.server.entity.AchDTO"/>
        <mapping class="com.sapienter.jbilling.server.entity.PaymentAuthorizationDTO"/>
        <mapping class="com.sapienter.jbilling.server.entity.CreditCardDTO"/>
        <mapping class="com.sapienter.jbilling.server.entity.PaymentInfoChequeDTO"/>
        <mapping class="com.sapienter.jbilling.server.payment.blacklist.db.BlacklistDTO"/>
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentInvoiceMapDTO"/>
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentDTO"/>
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentAuthorizationDTO"/>
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentResultDTO"/>
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentMethodDTO"/>
        <mapping class="com.sapienter.jbilling.server.payment.blacklist.db.BlacklistDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportFieldDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportUserDTO"/>
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationRecordDTO"/>
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationRecordLineDTO"/>
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationRecordStatusDTO"/>
        <mapping class="com.sapienter.jbilling.server.util.db.InternationalDescription"/>
        <mapping class="com.sapienter.jbilling.server.util.db.AbstractGenericStatus"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.Partner"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerPayout"/>
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerRange"/>
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationConfiguration"/>
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationProcess"/>
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationOrderMap"/>
        <mapping class="com.sapienter.jbilling.server.util.db.JbillingTable"/>

        <!-- cache settings -->

    </session-factory>

</hibernate-configuration>